@font-face {
    font-family: SVN-GILROY-BOLD;
    src: url("../fonts/SVN-GILROY BOLD.OTF");
}
*{
    margin: 0;
    padding: 0; 
}
body {
    margin: 0;
    padding: 0;
    font-family: SVN-GILROY-LIGHT;
    color: #000;
    font-size: 15px;
}